In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Iris.csv',index_col=0)

In [3]:
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df[df.duplicated()]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
35             4.9           3.1            1.5           0.1     Iris-setosa
38             4.9           3.1            1.5           0.1     Iris-setosa
143            5.8           2.7            5.1           1.9  Iris-virginica

In [5]:
df.duplicated().sum()

3

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.duplicated().sum()

0